h1 {
    color: burlywood;
    background: firebrick;
}

h2 {
    background: firebrick;
}

.boldedpara {
   font-weight: bold; 
}

.bluebullet {
    color: blue;
    text-decoration: underline;
}

.redbullet {
   color: red; 
   text-decoration: underline;
}

.purplebullet {
    color: purple; 
    text-decoration: underline;
}

